* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:gilroy;
}
html,
body {
    height: 100%;
    width: 100%;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #111;
}
#card{
    height: 400px;
    width: 300px;
    background-color: #fff;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

#storiyan{
    height: 100px;
    width: 100%;
    border-bottom: 1px solid #555;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 10px;
}
.story{
    display: inline-block;
    height: 75px;
    width: 75px;
    background: linear-gradient(to right bottom,yellow,orange,red,purple,blue);
    border-radius: 50%;
    padding: 4px;
    margin-right: 5px;
}

img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
}

#full{
    position: absolute;
    height: 100%;
    width: 100%;
    display: none;
    background-size:cover ;
    background-position: center;
    padding: 15px 10px;
}

#progress{
    width: 100%;
    height: 5px;
    border-radius: 50px;
    background-color: rgba(245, 245, 245, 0.316);
}

#growth{
    height: 100%;
    width: 0%;
    background-color: rgba(7, 7, 7, 0.683);
    border-radius: 50px;
}

#full h2{
    font-size: 16px;
    margin-top: 10px;
    color: #fff;
    font-weight: 500;
}
#storiyan::-webkit-scrollbar{
    display: none;
}
.story h6{
    text-align: center;
    font-weight: 400;
    font-family: Arial;
}
