*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body{
    height: 100%;
    width: 100%;
    background-color: lightslategrey;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    /* height: 350px; */
    width: 300px;
    background-color: #000000;
    border-radius: 10px;
    padding: 13px;
    border: none;
    /* overflow: auto; */
    color:white;
    position: relative;
}
.card h3{
    font-size: 26px;
    font-weight: 400;
    position: fixed;
    /* top: 0; */
    /* background-color: rgb(254, 250, 250); */
    z-index: 1;


}
.card img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
    border: 2.5px solid green;
    margin-top: 12px;
}
.status{
    display: flex; 
    align-items: center;
    gap: 10px;
    /* border-top: .5px solid grey; */
    /* position: relative; */
}
.main::-webkit-scrollbar{
    display: none;
    scroll-behavior: smooth;
}
.header {
    position: sticky;
    top: 0;
    background-color: #000000;
    z-index: 1;
    padding: 10px;
    border-radius: 10px 10px 0 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}
.card .main{
    border-top: 2px solid grey;
    /* border-bottom: 1px solid grey; */
    margin-top: 7px;
    overflow-y: auto;
    height: 320px;
    /* padding-right: 10px;
    padding-bottom: 10px; */
}
#chindi{
    display: flex;
    gap: 10px;
    padding: auto;
    align-items: center;
    margin-top: 5px;
}
.status-container{
    display: flex;
    justify-content: space-between;
}
#icon {
    display: flex;
    margin-top: 5px;
    gap: 20px; 
}
.full{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    position: absolute;
    background-size: cover;
    background-position: center;
    display: none;
    border-color: yellow;
}


/* .btn2:active{
    scale: 1.05;
    color: rgb(39, 214, 27);
} */
/* #icon i { */
    /* No need for gap here */
/* } */